@(message: String)

@main("Welcome to Play") {

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center  white-text">Social search</h1>
                <div class="row center">
                    <h5 class="header col s12  black-text darken-3">Fast review the topic from hight recall to best precision</h5>
                </div>
                <div class="row center">
                    <a href="#search" id="download-button" class="btn-large waves-effect waves-grey-text text-darken-4 white-text blue-grey darken-4 z-depth-5">
                        Get Started
                    </a>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="@routes.Assets.at("images/twitter_voice.jpg")" alt="Unsplashed background img 1"></div>
    </div>

    <div class="section larget_div" id="chart_preview">


    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 grey-text text-darken-4"></h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="@routes.Assets.at("images/twittersticker.jpeg")" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>Developed with love <3</h4>
                    <p class="left-align grey-text text-darken-4 center">
                        We are carefully think about each aspect of interface for your enjoyment and high productivity of work.</p>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 grey-text text-darken-4">.</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="@routes.Assets.at("images/peopler.png")" alt="Unsplashed background img 3"></div>
    </div>

    <script>
            var data = [
                {
                    x: ['2015-06-04 22:23:00', '2015-07-04 22:23:00', '2015-08-04 22:23:00',
                        '2015-10-04 22:23:00', '2015-11-04 22:23:00', '2015-12-04 22:23:00',
                        '2016-01-04 22:23:00', '2016-02-04 22:23:00', '2016-03-04 22:23:00',
                        '2016-04-05 22:23:00', '2016-05-06 22:23:00', '2016-06-07 22:23:00'],
                    y: [14, 32, 59, 42, 25, 74, 86, 98, 113, 201, 250, 162, 136],
                    type: 'scatter'
                }
            ];
            var layout = {
                title: 'Activity for tag <span style="color: royalblue;">#super_misserible_life</span>',
                xaxis: {
                    title: 'Date',
                    titlefont: {
                        family: 'Courier New, monospace',
                        size: 18,
                        color: '#7f7f7f'
                    }
                },
                yaxis: {
                    title: 'Count of hits',
                    titlefont: {
                        family: 'Courier New, monospace',
                        size: 18,
                        color: '#7f7f7f'
                    }
                }
            };


            Plotly.newPlot('chart_preview', data, layout);
    </script>
    @*play20.welcome(message)*@
}
