@(tags_global: Seq[String], clouds: Seq[Utils.Cloud], hs: Utils.HitStatistic, query: String = "")

@main("Searching page", query = query) {

    <div class="container ">
        <div class="row top_tags center">
        @tags_global.map { tag_global =>
            <div class="chip">
                <span class="tag_txt">@tag_global.toString</span>
                <i class="tag_to_search close material-icons">add</i>
            </div>
        }
        </div>
        <div class=" medium_div card" id="chart_preview">

            @*empty div for charts drawing *@

        </div>

        <h3>Tweets:</h3>

        <div class="tweets">

            @clouds.map { cloud =>
                <ul class="collection">
                    @cloud.tweets.map { tweet =>
                        @if(tweet.nonEmpty) {
                            <li class="collection-item avatar hover_shadow">
                                @if(!tweet.person.isEmpty) {
                                    <span class="title">person:
                                        <a href="https://twitter.com/@tweet.person.toString" target="_blank">
                                            <span class="blue-text">
                                                    &#64;@tweet.person.toString
                                            </span>
                                        </a>
                                    </span>
                                    <br>
                                }
                                @if(!tweet.text.isEmpty) {
                                    <span class="twbody black-text">
                                    @tweet.text.toString
                                    </span>
                                    <br>
                                }
                                @if(!tweet.date.isEmpty) {
                                    <span class="date"><span class="sys_text">date:</span>
                                        @tweet.date.toString
                                    </span>
                                }
                                @if(!tweet.rating.isEmpty) {
                                    <span class="rating"><span class="sys_text">rating:</span>
                                        @tweet.rating.toString
                                    </span>
                                }
                                @if(!tweet.id.isEmpty) {
                                    <a href="https://twitter.com/statuses/@tweet.id.toString" target="_blank"> link</a>
                                }
                            </li>
                        }
                    }
                </ul>


                <div class="container ">
                    <div class="row tags center">
                    @cloud.tags.map { tag =>
                        <div class="chip">
                            <span class="tag_txt">@tag.toString</span>
                            <i class="tag_to_search close material-icons">add</i>
                        </div>
                    }
                    </div>
                </div>

            }

            @if(hs.nonEmpty) {
                <script>
                        var data = [
                            {
//                                x: ['2016-06-04 22:23:00', '2016-07-04 22:23:00', '2016-08-04 22:23:00',
//                                    '2016-10-04 22:23:00', '2016-11-04 22:23:00', '2016-12-04 22:23:00'],
//                                y: [14, 32, 59, 42, 14, 74],
                                //date <- hs.dates.map("\'" + _ + "\'").mkString(", ")
                                x: [
                                    @for(d <- hs.dates){
                                    ' @d.toString ',
                                    }
                                ],
                                y: [@hs.hits.mkString(", ")],
                                type: 'scatter'
                            }
                        ];

                        var layout = {
                            title: 'Activity for query <span style="color: royalblue;"> @query </span>',
                            xaxis: {
                                title: 'Date',
                                titlefont: {
                                    family: 'Courier New, monospace',
                                    size: 18,
                                    color: '#7f7f7f'
                                }
                            },
                            yaxis: {
                                title: 'Count of hits',
                                titlefont: {
                                    family: 'Courier New, monospace',
                                    size: 18,
                                    color: '#7f7f7f'
                                }
                            }
                        };


                        Plotly.newPlot('chart_preview', data, layout);
                </script>
            }
        </div>
    </div>
}
